.chat-container {
  border: 1px solid #cccccc11;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 0 auto; /* Center horizontally */
  margin-top: 300px; /* Adjust top margin as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages-container {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  background-color: #ffffff00;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.input-container {
  display: flex;
}

.input-container input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.input-container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #0056b3;
}
