html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background-room {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.generated-room {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-grow: 1;
}

.generated-room .main-content {
  flex: 1;
  max-width: 60%;
  padding-right: 20px;
  margin-top: 20px; /* Add margin-top to bring the main content down */
}

.generated-room .main-content h1 {
  font-size: 54px;
  margin-bottom: 20px;
  margin-top: 100px;
  white-space: nowrap;
}

.music-player {
  display: flex;
  width: 100%;
  margin-top: 40px; /* Increase margin-top to bring the music player down */
  justify-content: space-between;
}

.room-container {
  flex: 1;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
}

.room-header {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.current-playing {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

.controls-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.control-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.control-button:hover {
  background-color: #777;
}

.genres-sidebar {
  width: 150px;
  background-color: #4a46464d;
  padding: 10px;
  border-radius: 8px;
}

.genres-header {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.genres-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.genre-button {
  background-color: #777777;
  padding: 25px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 18px;
  border: none;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.genre-button:hover {
  background-color: #555555;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.bg-green-600 {
  background-color: #00000058 !important;
  color: #ffffff;
}

.generated-room .chat-container {
  margin-left: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  height: calc(80vh - 90px);
}

.generated-room .chat-box-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(150, 134, 134, 0.24);
  border: 1px solid #7a6d6d;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

.generated-room .chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(116, 116, 116, 0.24);
}

.room-info {
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.room-info p {
  margin: 0;
  font-size: 16px;
}

/* Responsive design for smaller screens */
@media (max-width: 1024px) {
  .generated-room {
    flex-direction: column;
  }

  .generated-room .main-content {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .generated-room .chat-container {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-top: 20px;
  }

  .generated-room .chat-box-container {
    height: 500px;
  }

  .room-info {
    flex-direction: column;
    align-items: center;
  }

  .room-info p {
    margin-bottom: 5px;
  }

  .genres-sidebar {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    flex-direction: row;
    overflow-x: auto;
  }

  .genres-list {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .genre-button {
    margin-right: 10px;
    flex: 1;
    text-align: center;
  }
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  cursor: se-resize;
}
