.home-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden; /* Ensure any overflow is hidden */
}

.background-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure it's behind the content */
}
.bg3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.bg1 {
    position: absolute;
    bottom: -10%; /* Position background 1 at the bottom */
    left: -16%; /* Align it to the left */
    width: 40%; /* Adjust the size of the background image */
    height: auto;
    opacity: 0.5; /* Maintain aspect ratio */
}

.bg2 {
    position: absolute;
    bottom: -10%; /* Move it more to the bottom */
    right: -33%; /* Move it more to the left */
    width: 65%; /* Adjust the size of the background image */
    height: auto;
    opacity: 0.7; /* Maintain aspect ratio */
}

.bg2 {
    animation: spin 10s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.content_text {
    position: relative;
    z-index: 2; /* Ensure content is above background layers */
    display: flex;
    flex-direction: column; /* Arrange content vertically */
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust as needed */
    height: 100%;
    margin: 0 auto; /* Center align horizontally */
    color: white;
    text-align: center;
}

.huge-text {
    font-size: 6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder; /* Optional text shadow for better readability */
    text-align: center;
}

.sub-text {
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 1rem; /* Space between huge-text and sub-text */
    text-align: center;
    font-weight: bold;
    color: #a2a2a2;
}
.button_container_home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.button_public,
.button_private {
    background: rgba(255, 255, 255, 0.09); /* Semi-transparent white background */
    color: white;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 10px; /* Rounded corners */
    font-size: 2.0rem;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); /* Shadow for glass effect */
}

.button_public:hover,
.button_private:hover {
    background: rgba(255, 255, 255, 0.4); /* Lighter background on hover */
    transform: translateY(-2px); /* Lift button slightly on hover */
}
