.private-room-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.room-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.join-room {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-room-button {
  padding: 30px 70px; /* Increased padding for bigger buttons */
  font-size: 30px; /* Increased font size */
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.create-room-button{
padding: 30px 60px; /* Increased padding for bigger buttons */
font-size: 30px; /* Increased font size */
color: rgba(255, 255, 255, 0.85);
background-color: rgba(255, 255, 255, 0.15);
border: 1px solid rgba(255, 255, 255, 0.15);
border-radius: 10px;
cursor: pointer;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.join-room-button:hover, .create-room-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.95);
  border-color: rgba(255, 255, 255, 0.25);
}

.join-room-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.glassmorphic-dropdown {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.join-room-form input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

.submit-room-code {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-room-code:hover {
  background-color: #777;
}

@media (max-width: 600px) {
  .join-room-button, .create-room-button {
    width: 100%;
  }

  .join-room-form input {
    width: 100%;
  }
}
